* {
    background-color: #292826;
    color: #F9D342;
    font-family: 'Courier Prime', monospace;
}

.main-container{
    display: flex;
}
#main-heading{
    border: blue 10px;
    background-color: white;
    padding: 10px;
}